@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../assets/fonts/fonts.css');
:root {
    --pimary-color: #2f81f7;
    --color: #413f3e;
    --title-color: #000000;
    --weak-color: #8c8c8c88;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --cooler-color: #c9c9c9;
}

body[theme-data='dark'] {
    --cooler-color: #272827;
    --color: #cac5c0;
    --title-color: #ffffff;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    overflow-x: hidden;
    color: var(--color);
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
.bg-\[\#27cf21\] {
    background-color: #27cf21;
}

.bg-\[\#216ccf\] {
    background-color: #216ccf;
}
.bg-\[\#d11111\] {
    background-color: #d11111;
}
.bg-\[\#cfb821\] {
    background-color: #cfb821;
}
.bg-\[\#7517d4\] {
    background-color: #7517d4;
}
.macbook-blue-coating.trigger {
    background-color: #1f75e6c0;
}
/* Define the initial and final states of the animation */
.scale-enter {
    transform: scale(0);
}
.scale-enter-active {
    transition: transform 300ms;
    transform: scale(1);
}
.scale-exit {
    transform: scale(1);
}
.scale-exit-active {
    transition: transform 300ms;
    transform: scale(0);
}
.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
.ant-otp-input {
    background-color: transparent;
    border-color: var(--weak-color);
    color: var(--color);
}
.ant-input-outlined:focus {
    background-color: transparent;
}
.ant-input-outlined:hover {
    background-color: transparent;
}
.home-loading-move {
    animation: home-loading 1s infinite;
}
@keyframes home-loading {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateX(128px);
    }
}
