@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../assets/fonts/fonts.css');
:root {
    --color: #413f3e;
    --title-color: #000000;
    --weak-color: #8c8c8c88;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body[theme-data='dark'] {
    --color: #cac5c0;
    --title-color: #ffffff;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    overflow-x: hidden;
    color: var(--color);
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
